.abc{
    font-family: 'Bangers';
    text-shadow: -5px 2px 4px rgba(0, 81, 62, 1);

}

@font-face {
    font-family: 'Bangers';
    src: url('assets/fonts/bangers.ttf') format('ttf');   
        
  }
.shadow{
    text-shadow: 4px 2px 4px rgb(3, 78, 60);
}  
 